* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  overflow-y: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: #ddd;
}

h2 {
  color: #444;
}

button {
  font-family: inherit;
  font-size: 95%;
  padding: 5px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.aForm {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 20px;
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
}

input,
textarea {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  width: 250px;
  font-family: inherit;
  font-size: 1rem;
}

input {
  height: 28px;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
  background-color: #eeefff;
  font-size: 80%;
}

footer a {
  cursor: pointer;
  text-decoration: none;
}

/* APP */
.printCv {
  margin: 40px auto;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 30px;
  font-size: 1.2rem;
  background-color: #aaa;
}
